

/*Css - Titutulo da h1 e h2*/
h1, h2 {
    text-align: center; /*Alinhamento: centro*/
    font-family: Arial, Verdana, sans-serif; /* fromatção da letra*/
    font-style: oblique; /* estilo da letra*/
    font-size: 40px; /* tamanho da letra*/
    color: #000000;
}

/* Css do menu*/
nav {
    margin-top: 0px; /* margem superio do menu*/
    margin-bottom: 0px; /*margem inferior do menu*/
    margin-right: 0px; /*margem direita do menu*/
    margin-left: 0px; /*margem esquerda do menu*/
    font-family: Arial, Verdana, sans-serif; /* fromatção da letra do menu*/
    font-style: oblique; /* estilo da letra do menu*/
    background: linear-gradient(to right, #ffffff, #FFFAFA, #ffffff, #ffffff ); /* cor de fundo do menu*/
    position: relative;
}

/*Css da tabela cadastro*/
table {
   
     margin-top: 5px; /* margem superio da tabela de cadatro*/
     margin-bottom: 5px; /*margem inferior da tabela de cadatro*/
     margin-right: auto; /*margem direita da tabela de cadatro*/
     margin-left: auto; /*margem esquerda da tabela de cadatro*/
     font-family: Arial, Verdana, sans-serif; /* fromatção da letra da tabela de cadatro*/
     font-style: oblique; /* estilo da letra da tabela de cadatro*/
     color: #000000;
}

/*Css da Gridview*/
.gridview {
    margin-top: 5px; /* margem superio da gridview*/
    margin-bottom: 10px; /*margem inferior da gridview*/
    margin-right: auto; /*margem direita da gridview*/
    margin-left: auto; /*margem esquerda da gridview*/
    font-family: Arial, Verdana, sans-serif; /* fromatção da letra da gridview*/
    font-style: oblique; /* estilo da letra da gridview*/
    word-spacing: 10px; /* espaçamento da gridview*/
    text-align: center;
    width: auto;
    height: auto;
    box-shadow: 0 40px 40px 0 rgb(0, 0, 0);
}

/*modal*/
.modview {
    font-family: Arial, Verdana, sans-serif; /* fromatção da letra da gridview*/
    box-shadow: 0 40px 40px 0 rgb(0, 0, 0);
    width: auto;
    height: auto;
    text-align: center;
}

.logoimg {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}

.titulologo {
    font-family: 'Arial Rounded MT', Verdana, sans-serif;
    color: #4c1711;
    font-size: 16px;
    max-width: 150px;
    max-height: 40px;
    width: auto;
    height: auto;
}
}

body {
}
